.fullscreen{
  position: fixed;
}
.contained{
  position: absolute;
}
.loader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, .10);
}
.loader{
  display: inline-block;
  vertical-align: middle;
  margin-right: 3em;
  font-size: 10px;
}
.loader-triple {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0f13f1;
  animation: spin 2s linear infinite;
    &:before{
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #0b93ee;
      animation: spin 3s linear infinite;
    }
    &:after{
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      right: 12px;
      bottom: 12px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #1d3b9e;
      animation: spin 1.5s linear infinite;
    }
}


@keyframes spin{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
