<mat-card class="form-login">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon aria-hidden="false" >maps</mat-icon>
        </div>
        <mat-card-title>
            <h1>SGS - Maps </h1> 
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div>
            <mat-error *ngIf="messages">{{ messages }}</mat-error>
            <br>
            <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onLogin()" class="">
                <div class="content-full-width">
                    <mat-form-field class="content-max">
                        <input matInput placeholder="Usuario" formControlName="userName"/>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.userName">{{ formErrors.userName }}</mat-error>
                    <br> 
                    <mat-form-field class="content-max">
                        <input type="password" matInput placeholder="Contraseña" formControlName="password" />
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
                    <br>
                    <button class="content-max" mat-raised-button color="primary" type="submit"> Iniciar sesión</button>
                    <br>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <a mat-button routerLink="/user/register" class="content-max">Register</a>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>
